rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    function isAdmin() {
      return get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == 'admin';
    }

    match /users/{userId} {

      // Usuário pode criar o próprio doc
      allow create: if request.auth != null && request.auth.uid == userId;

      // Usuário pode ler e editar o próprio doc
      allow read, write: if request.auth != null && request.auth.uid == userId;

      // Admin pode ler QUALQUER doc
      allow read: if request.auth != null && isAdmin();
    }

    // Admin pode listar todos os usuários
    match /users/{document=**} {
      allow list: if request.auth != null && isAdmin();
    }

    // Subcoleções do usuário
    match /users/{userId}/{subcollection=**} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }

    // Coleção roteiro (livre para qualquer user logado)
    match /roteiro/{itemRoteiroId} {
      allow read, write: if request.auth != null;
    }
  }
}
