
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    function isAdmin() {
      // Esta função continua existindo para regras de leitura em documentos específicos, o que é permitido.
      return get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == 'admin';
    }

    // USERS
    match /users/{userId} {
      // O usuário sempre pode ler e escrever seu próprio documento
      allow read, write: if request.auth != null && request.auth.uid == userId;

      // Admin pode ler qualquer documento individual
      allow read: if request.auth != null && isAdmin();
    }

    // Listar toda a coleção de users
    // A regra é relaxada para qualquer usuário autenticado,
    // mas a segurança é garantida no front-end, que só fará a query
    // se o usuário for admin, evitando o erro de permissão.
    match /users/{document=**} {
      allow list: if request.auth != null;
    }

    // Subcoleções do usuário
    match /users/{userId}/{subcollection=**} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }

    // Coleção roteiro (livre)
    match /roteiro/{itemRoteiroId} {
      allow read, write: if request.auth != null;
    }
  }
}
